<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List Videos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
  <div class="list-container">
    <h1>Uploaded Videos</h1>
    <table class="video-table">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Tamaño</th>
          <th>Duración</th>
          <th>Acción</th>
        </tr>
      </thead>
      <tbody>
      {% for v in videos %}
        <tr>
          <td>{{ v.name }}</td>
          <td>{{ v.size }}</td>
          <td>{{ v.duration }}</td>
          <td>
            <a href="{{ url_for('view_video', filename=v.name) }}" class="btn-small">▶️ Ver</a>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</body>
</html>
